@model InspectionAnalysis.InspectResult

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>InspectResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkDataId" class="control-label"></label>
                <select asp-for="WorkDataId" class ="form-control" asp-items="ViewBag.WorkDataId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CameraNo" class="control-label"></label>
                <input asp-for="CameraNo" class="form-control" />
                <span asp-validation-for="CameraNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCNo" class="control-label"></label>
                <input asp-for="PCNo" class="form-control" />
                <span asp-validation-for="PCNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOK" /> @Html.DisplayNameFor(model => model.IsOK)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="InspTime" class="control-label"></label>
                <input asp-for="InspTime" class="form-control" />
                <span asp-validation-for="InspTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
