@using InspectionAnalysis.Shared
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@inherits ViewLayoutComponentBase<TopViewModel>

@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<h1>@DataContext.DisplayString</h1>

<div class="container" style="padding:10px">
    <div class="row">
        <InputButton Class="btn btn-primary" Command="@DataContext.CreateChartCommand">Refresh</InputButton>
    </div>

    <div class="row">
        <div class="col">
                <Chart id="barchart" Contents="@DataContext.JudgeBarChartContents"/>
        </div>
    </div>
</div>
@*<button @onclick="Send" disabled="@(!IsConnected)">Send</button>*@

@code{
    //public bool IsConnected { get => this._hubConnection?.State == HubConnectionState.Connected; }

    //private HubConnection? _hubConnection;


    //protected override async Task OnInitializedAsync()
    //{
    //    this._hubConnection = new HubConnectionBuilder().WithUrl(Navigation.ToAbsoluteUri("/inspectresulthub")).Build();
    //    this._hubConnection.On<IEnumerable<InspectResult>>("ReceiveData", results =>
    //    {
    //        var test = results;
    //    });

    //    await this._hubConnection.StartAsync();
    //}

    //private async Task Send()
    //{
    //    if(this._hubConnection is not null)
    //    {
    //        await this._hubConnection.SendAsync("SendData", DateTime.Parse("2022/11/08"), DateTime.Parse("2022/11/14"));
    //    }
    //}
}